@model DATA.Entity.THIET_BI
@{
    ViewBag.Title = "ThemThietBi";
    Layout = "~/Share/layout.cshtml";
    DATA.Entity.QLTHIETBIEntities db = new DATA.Entity.QLTHIETBIEntities();

    var tenLoai = "";
    var tenkho = "";

    var phieunhap = db.TANG.Find(Model.MaTang);
    foreach (var loai in db.LOAI_THIET_BI.ToList())
    {
        if (loai.MaLoai == phieunhap.MaLoai)
        {
            tenLoai = loai.TenLoai;
        }
    }

    foreach (var kho in db.KHO.ToList())
    {
        if (kho.MaKho == phieunhap.MaKho)
        {
            tenkho = kho.TenKho;
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Them/CSS/QuanLy/QuanLychung.css" rel="stylesheet" />
    <link href="~/Them/CSS/QuanLy/ThemPhieuNhap.css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="QuanlyTB">
        @using (Html.BeginForm())
        {
            <div id="Quanlymenu">
                <h3 class="TieuDe">QUẢN LÝ TRANG BỊ</h3>
                <ul>
                    <li id="idNhapVao"><a href="~/Quanly/DSPhieuNhapVao">Nhập vào</a></li>
                    <li id="idCapPhat"><a href="~/Quanly/CapPhat">Cấp phát</a></li>
                    <li id="idThuHoi"><a href="~/Quanly/ThuHoi">Thu hồi</a></li>
                    <li id="idThanhly"><a href="~/Quanly/ThanhLy">Thanh lý</a></li>
                    <li id="idSuaChua"><a href="~/Quanly/SuaChua">Sửa chữa</a></li>
                    <li id="idKiemKe"><a href="~/Quanly/KiemKe">Kiểm kê</a></li>
                </ul>
            </div>

            <div id="Main_NhapVao">
                <div style="margin-left: 20px;">
                    <h2>THÊM THIẾT BỊ</h2>
                    <h3>Mã phiếu: @Model.MaTang</h3>
                </div>
                <div id="ThemThietBi">
                    <div class="Nhapdiv">
                        <label for="MaTB">Seri thiết bị: </label>
                        <input type="text" id="ma-tb" name="MaTB">
                    </div>

                    <div class="Nhapdiv">
                        <label for="TenTB">Tên thiết bị:</label>
                        <input type="text" id="ten-tb" name="TenTB">
                    </div>

                    <div class="Nhapdiv">

                        <label for="MaLoai">Loại: </label>
                        <label>@tenLoai</label>
                        <input type="hidden" id="ma-loai" name="MaLoai" value="@phieunhap.MaLoai">
                    </div>

                    <div class="Nhapdiv">
                        <label for="MaHang">Hãng sản xuất: </label>
                        <select name="MaKho" id="mySelect">
                            @{
                                foreach (var item in db.HANG_SX)
                                {
                                    <option value="@item.MaHang">@item.TenHang</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="Nhapdiv">
                        <label for="ThanhTien">Giá tiền: </label>
                        <input type="text" id="thanh-tien" name="ThanhTien">
                    </div>

                    <div class="Nhapdiv">
                        <label for="MaKho">Nhập lưu trữ vào: </label>
                        <label>@tenkho</label>
                        <input type="hidden" id="ma-kho" name="MaKho" value="@phieunhap.MaKho">
                    </div>

                    <div class="Nhapdiv">
                        <label for="TinhTrang">Tình Trạng: </label>
                        <label>Đang nhập</label>
                        <input type="hidden" id="tinh-trang" name="TinhTrang" value="Đang nhập">
                    </div>

                    <div id="idLink">
                        <button type="submit">Thêm thiết bị</button>

                        <div class="aDSPhieuNhap">
                            <a>@Html.ActionLink("Danh sách phiếu nhập", "NhapVao")</a>
                        </div>

                        <div class="aDSPhieuNhap">
                            <a>@Html.ActionLink("Danh sách thiết bị của phiếu", "ChiTietPhieu", new { maTang = Model.MaTang }, null)</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>




